PORT=5173
BASE_PATH=/

VITE_SITE_NAME=Insight Engineers
VITE_SITE_TAGLINE=Subtle Thought But Meaningful.
VITE_SITE_TITLE=Insight Engineers | Software & Data Science Community Discord
VITE_SITE_DESCRIPTION=Join Insight Engineers, a community for software developers, data scientists, and AI engineers. Discuss coding, machine learning, and system design. Subtle Thought But Meaningful.
VITE_SITE_KEYWORDS=software developer community, data science community, machine learning discord server, programming discussion group, AI engineering community, system design discussions, open source collaboration
VITE_SITE_URL=https://insightengineers.app/
VITE_OG_IMAGE_URL=https://insightengineers.app/opengraph.jpg
VITE_LOGO_URL=https://insightengineers.app/favicon.svg

VITE_DISCORD_URL=https://discord.gg/8596J4bQ
VITE_TERMS_URL=#
VITE_PRIVACY_URL=#
